#timeline{
    height:36.1%;
    padding-left: 2%;
    padding-right: 2%;
}

#listTeach{
    border-radius: 6px;
    font-size:larger;
    margin-left: 2%;
    margin-bottom: 10px;
    padding: 4px;
    padding-right: 1%;
    color:#242424;
}
.option{
    border-radius: 8px;
}
